    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    </head>
    <body>
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <a class="navbar-item" >
          <img src="{{url_for('static', filename='img/logo.png')}}" style="width:170px; height:70px; max-height:100px;margin-left:10px;">
        </a>
        <!-- <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div> -->

      </div>
      <div class="navbar-end" href="cart">
        <a class="navbar-item">
          <img src="{{url_for('static', filename='img/cart.png')}}" onclick="showModal()"  style="width:80px; height:60px; max-height:70px;margin-right:10px;">
        </a>
      </div>

    </nav>

  <br><br>
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8" style="height:500px">
          <div class="tile is-parent">
            <article class="tile is-child notification is-dark" style="padding:0px;">
              <p class="subtitle" style="width:100%;padding:20px;background:rgba(195,195,195,.5);position:absolute;z-index:200;">Place the item in front of Camera</p>
		<img  src="{{ url_for('video_feed') }}" id="videoElement" style="width:100%;height:100%;position:absolute;" alt="">
              
	  <form enctype=multipart/form-data action="/capture" method = "POST" >
            <input type="submit" class="button is-info is-large" style="position: absolute; bottom:10px;right:10px;" value="capture">   
          </form>


<!-- <button type="btn" class="button is-info is-large" style="position: absolute; bottom:10px;right:10px;"> CAPTURE </button>   -->
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <div class="content">
                <p class="title is-4">
		{% if stats %}
			{{ pname }}
		{% else %}
  			<h1></h1>
		{% endif %}
		</p>
                <p class="subtitle" style="padding-top:10px;" id="qty">Quantity : <input type="text" name="quantity" id="quant" value="1" style="width:30px;text-align:center;border-radius:5px;outline:none;border:none"></p>
              <a class="button is-info" onclick="addCart()">Add to Cart</a><br><br>
              <a class="button is-info is-large is-fullwidth" onclick="showModal()">Proceed to Checkout (5 item)</a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="modal" id="section-to-print">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
              <img src="img/logo.png" style="width:170px; height:70px; max-height:100px;margin-left:10px;">
            </p>
            <button class="delete" aria-label="close" onclick="hideModal()"></button>
          </header>
          <section class="modal-card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Sr. No</th>
                  <th>Product ID</th>
                  <th>Name of Product</th>
                  <th>Quantity</th>
                  <th>Cost of Product</th>
                  <th>Final Cost of Product</th>
                </tr>
              </thead>
              <tbody id="tableBody">
                <tr>
                  <td>1</td>
                  <td>H_CM_1kg</td>
                  <td>Horlicks Classic Malt 1kg</td>
                  <td>1</td>
                  <td>380</td>
                  <td>380</td>
                </tr>
              </tbody>
              <tfoot>
                <tr> 
                  <th colspan="5" style="text-align:right;">
                    Final Cost :
                  </th>
                  <th colspan="1">
                      180
                    </th>
                </tr>
              </tfoot>
            </table>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-info" id="print" onclick="printInvoice()"> Print Invoice</button>
            <!-- <button class="button">Cancel</button> -->
          </footer>
        </div>
      </div>
<script>

function printInvoice(){
  window.print();
}

function hideModal(){
  document.getElementById('section-to-print').style.display = 'none';
}

function showModal(){
  document.getElementById('section-to-print').style.display = 'block';

}
</script>
<script>
function addCart(){
    let t_bdy = document.getElementById("tableBody");
    let qty = document.getElementByID("qty").value;
    t_cost = qty * parseInt( {{pcost}} );
    {% if stats %}
    var tableData = "<td>1</td><td> {{ pid }}</td> <td> {{ pname }} </td><td>+ qty +</td> <td> {{ pcost }} </td>+ t_cost + <td></td>";
    var entry = document.createElement('tr');
    entry.innerHTML = tableData;
    t_bdy.appendChild(entry);
    {% else %}

    {% endif %}
      
}


</script>

<script>
      var video = document.querySelector("#videoElement");
      // navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
      
      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (err0r) {
            console.log("Something went wrong!");
          });
      }
      
</script>
    </body>
    </html>